html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}

:focus {
    outline: none;
}

#cube-window {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

#control-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 35%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: rgb(18, 18, 18);
    /* background: linear-gradient(160deg, rgb(22, 22, 22) 0%, rgba(0, 0, 0, 1) 100%); */
    box-shadow: -8px 0px 9px 0px rgb(0, 0, 0);
}

.header {
    background-color: rgb(60, 60, 60);
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-family: "Rubik", sans-serif;
    width: 90%;
    color: white;
    margin: 0;
    font-size: 3vmin;
    margin-top: auto;
}

#main-header {
    background-color: rgb(40, 40, 40);
    text-align: center;
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 4vmin;
    margin: 0;
}

/* ---------------------VISUALS----------------------- */

#visual-settings {
    height: 25%;
    width: 94%;
    margin-top: auto;
    background-color: rgb(40, 40, 40);
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

#visuals-header {
    width: 96%;
    padding-left: 4%;
    text-align: left;
    border-top-right-radius: 1rem;
    margin: 0;
}

.selector {
    position: relative;
    background-color: rgb(30, 30, 30);
    color: white;
    border: none;
    font-size: 2.5vmin;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 1%;
    /* flex: 1; */
}

#selectors {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: auto;
}

#anim-speed-slider {
    position: relative;
    width: 92%;
    accent-color: white;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    margin: 0;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: auto;
}

#anim-speed-slider::-webkit-slider-runnable-track {
    background-color: rgb(60, 60, 60);
    border-radius: 1rem;
    /* height: 3vh; */
}
#anim-speed-slider::-moz-range-track {
    background-color: rgb(60, 60, 60);
    border-radius: 1rem;
    /* height: 3vh; */
}

#color-pickers > input {
    border: 0;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    background: transparent;
    margin-left: 1%;
    margin-right: 1%;
}

#color-pickers {
    display: flex;
    justify-content: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: auto;
}

#visual-buttons {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1vh;
}

#toggle-animation:hover > i {
    display: none !important;
}
#toggle-animation:hover > p {
    display: initial !important;
}

#toggle-transparency:hover > i {
    display: none !important;
}
#toggle-transparency:hover > p {
    display: initial !important;
}

/* --------------------------------------------------- */

.txtarea {
    width: 86%;
    resize: none;
    border: none;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 2.5vmin;
    background-color: rgb(40, 40, 40);
    font-family: "Rubik", sans-serif;
    color: white;
}

#setup-header {
    /* margin-top: 0; */
    padding-left: 4%;
    margin-right: auto;
    text-align: left;
    border-top-right-radius: 1rem;
}

#setup-input {
    height: 6%;
    margin-right: auto;
    border-bottom-right-radius: 1rem;
}

#move-input-header {
    /* margin-top: 3vh; */
    padding-right: 4%;
    margin-left: auto;
    text-align: right;
    border-top-left-radius: 1rem;
}

#move-input {
    height: 18%;
    margin-left: auto;
    /* text-align: right; */
}

#top-buttons {
    height: 5%;
    width: 94%;
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: space-between;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-bottom-left-radius: 1rem;
    margin-left: auto;
}

#bottom-buttons {
    height: 6%;
    width: 90%;
    background-color: rgb(40, 40, 40);
    padding: 2%;
    padding-bottom: 3%;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.control-button {
    position: relative;
    height: 100%;
    background-color: rgb(30, 30, 30);
    box-shadow: 0 5px rgb(20, 20, 20);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    padding: 0;
    margin-left: 1%;
    margin-right: 1%;
    color: white;
    flex-grow: 1;
}

.control-button > i {
    font-size: 3vmin;
}

.control-button:hover {
    background-color: rgb(60, 60, 60);
    box-shadow: 0 5px rgb(30, 30, 30);
}

.control-button:active {
    box-shadow: 0 0;
    transform: translateY(4px);
}

#options-box {
    position: fixed;
    display: flex;
    bottom: 20px;
    left: 20px;
    z-index: 10;
}

#menu-toggle {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: white;
}

#menu-toggle:hover {
    color: rgb(140, 140, 140);
}

#sound-toggle {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: white;
}

#sound-toggle:hover {
    color: rgb(140, 140, 140);
}

#debug {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: white;
}

#debug:hover {
    color: rgb(140, 140, 140);
}

/* ------------------------------------------------ */

.button-tooltip {
    color: rgb(140, 140, 140);
    font-family: "Rubik", sans-serif;
    font-size: 2vmin;
}

#submit:hover > i {
    display: none;
}
#submit:hover > p {
    display: initial !important;
}

#repeat-last-input:hover > i {
    display: none;
}
#repeat-last-input:hover > p {
    display: initial !important;
}

#mirror-x-axis:hover > i {
    display: none;
}
#mirror-x-axis:hover > p {
    display: initial !important;
}

#mirror-y-axis:hover > i {
    display: none;
}
#mirror-y-axis:hover > p {
    display: initial !important;
}

#mirror-z-axis:hover > i {
    display: none;
}
#mirror-z-axis:hover > p {
    display: initial !important;
}

#invert:hover > i {
    display: none;
}
#invert:hover > p {
    display: initial !important;
}

/* ------------------------------------------------ */

#scramble:hover > i {
    display: none;
}
#scramble:hover > p {
    display: initial !important;
}

#reset:hover > i {
    display: none;
}
#reset:hover > p {
    display: initial !important;
}

#undo:hover > i {
    display: none;
}
#undo:hover > p {
    display: initial !important;
}

#redo:hover > i {
    display: none;
}
#redo:hover > p {
    display: initial !important;
}
