html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

:focus {
    outline: none;
}

#cube-window {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

#control-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 35%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: rgb(18, 18, 18);
    background: linear-gradient(160deg, rgb(22, 22, 22) 0%, rgba(0, 0, 0, 1) 100%);
    box-shadow: -8px 0px 9px 0px rgb(0, 0, 0);
}

#header {
    background-color: rgb(50, 50, 50);
    font-family: "Rubik", sans-serif;
    width: 100%;
    text-align: center;
    color: white;
    margin: 0;
    padding-top: 2vh;
    padding-bottom: 2vh;
    /* font-size: 30px; */
}

#move-input {
    height: 25%;
    width: 80%;
    background-color: rgb(50, 50, 50);
    border: none;
    resize: none;
    padding: 1vmin;
    margin-top: 3vh;
    /* margin-bottom: auto; */
    /* font-size: xx-large; */
    font-size: 4vmin;
    font-family: "Rubik", sans-serif;
    color: white;
    border-radius: 0.5rem;
}

#slider-div {
    height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5vmin;
}

#anim-speed-slider {
    position: relative;
    width: 80%;
    accent-color: white;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    margin: 0;
    margin-left: 1vw;
}

#anim-speed-slider::-webkit-slider-runnable-track {
    background-color: rgb(50, 50, 50);
    border-radius: 1rem;
}
#anim-speed-slider::-moz-range-track {
    background-color: rgb(50, 50, 50);
    border-radius: 1rem;
}

#top-buttons {
    height: 6%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    margin-bottom: auto;
}

#bottom-buttons {
    height: 8%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    margin-bottom: 3vh;
}

.control-buttons {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.control-button {
    position: relative;
    height: 100%;
    width: 15%;
    background-color: rgb(50, 50, 50);
    box-shadow: 0 5px rgb(30, 30, 30);
    border: none;
    border-radius: 1rem;
    font-size: 1.5vmin;
    cursor: pointer;
    padding: 0;
    color: white;
}

.control-button > i {
    font-size: 3.5vmin;
}

.control-button:hover {
    background-color: rgb(68, 68, 68);
}

.control-button:active {
    box-shadow: 0 0;
    transform: translateY(4px);
}

#options-box {
    position: fixed;
    display: flex;
    bottom: 20px;
    left: 20px;
    z-index: 10;
}

#menu-toggle {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: white;
}

#menu-toggle:hover {
    color: rgb(140, 140, 140);
}

#debug {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: white;
}

#debug:hover {
    color: rgb(140, 140, 140);
}

/* .material-icons {
    transform: scale(150%);
    font-size: xx-small;
} */

/* ------------------------------------------------ */

.button-tooltip {
    color: rgb(140, 140, 140);
    font-family: "Rubik", sans-serif;
}

#submit:hover > i {
    display: none;
}
#submit:hover > p {
    display: initial !important;
}

#repeat-last-input:hover > i {
    display: none;
}
#repeat-last-input:hover > p {
    display: initial !important;
}

#mirror-x-axis:hover > i {
    display: none;
}
#mirror-x-axis:hover > p {
    display: initial !important;
}

#mirror-y-axis:hover > i {
    display: none;
}
#mirror-y-axis:hover > p {
    display: initial !important;
}

#mirror-z-axis:hover > i {
    display: none;
}
#mirror-z-axis:hover > p {
    display: initial !important;
}

#invert:hover > i {
    display: none;
}
#invert:hover > p {
    display: initial !important;
}

/* ------------------------------------------------ */

#scramble:hover > i {
    display: none;
}
#scramble:hover > p {
    display: initial !important;
}

#reset:hover > i {
    display: none;
}
#reset:hover > p {
    display: initial !important;
}

#undo:hover > i {
    display: none;
}
#undo:hover > p {
    display: initial !important;
}

#redo:hover > i {
    display: none;
}
#redo:hover > p {
    display: initial !important;
}

#toggle-animation:hover > i {
    display: none !important;
}
#toggle-animation:hover > p {
    display: initial !important;
}
